#final-page {
  display: none;
}


.jumbotron {

	text-align: center !important;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #3385ff;
}

#cage-showing {
	display: none;
}

.clickable {

	cursor:pointer;
	color:#0088cc;

}

.clickable:hover {
	text-decoration: underline;
} 